.fontawesomeHover {
  font-size: 2rem;
}

.fontawesomeHover:hover {
  color: green;
  transition: color 0.5s;
}

.underline {
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, rgb(19, 19, 51), rgb(50, 50, 189));
}